# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.extra

# VM data
.vagrant

# IDE
.idea
*.sublime-project
*.sublime-workspace
_ide_helper*
.phpstorm.meta.php

# Tmuxp
*tmuxp.yaml

# Node
node_modules

# Tests
.phpunit.result.cache
